node_modules
# Keep environment variables out of version control
.env

/generated/prisma

*.db
*.log
/src/storage/log


package-lock.json
views/
migrations/
# Ignore build output
dist/

# Ignore coverage reports
*.csv
*.py